{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "rules": {
    "quotes": [
      "error",
      "single"
    ],
    "camelcase": [
      "error", {
        "properties": "always"
      }
    ],
    "eqeqeq": ["error", "always"]
  }
}
